.about_image {
  width: 52rem;
  margin-top: 8rem;
  margin-left: -8rem;
}

.about_left {
  flex: 0.7;
}

.about {
  display: flex;
  padding-right: 5rem;
  padding-left: 5rem;
}

.about_right {
  flex: 1;
}

.about_right h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 7rem;
}

.vector {
  width: 6rem;
  position: relative;
  left: 2rem;
  top: 2rem;
}

.about_right p {
  font-size: 1.1rem;
  word-spacing: 0.3rem;
}

.flex {
  display: flex;
}

.tick {
  position: relative;
  top: 0.6rem;
  width: 2.3rem;
  right: 0.8rem;
}

.vector_2 {
  margin-top: 2rem;
  margin-left: 8rem;
}

.blur_circle {
  background-image: url("../../../public/images/blur.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 100%;
  background-position-y: 75%;
  background-size: 14rem;
}

@media (max-width: 1400px) {
  .blur_circle {
    background-position-x: 35%;
  }
}

@media (max-width: 1300px) {
  .about {
    flex-direction: column-reverse;
  }
  .vector_2 {
    display: none;
  }
  .about_right {
    flex: 1;
    justify-content: center;
  }

  .about_image {
    width: 92%;
    display: block;
    margin: auto;
  }
}

@media (max-width: 659px) {
  .about {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .about_right h2 {
    margin-top: 0rem;
  }
}

@media (max-width: 600px) {
  .vector {
    width: 4rem;
    top: 0.5rem;
  }
}
