.background {
  background: url("../public//images/background.png");
  background-position-y: -13rem;
}

@media(max-width:1000px){
  .background {
    background-position-x: -20rem;
  }
  
}

@media(max-width:600px){
  .background {
    background-position-x: -40rem;
  }
  
}